[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
#mysqlclient = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
ipdb = "*"
requests = "*"
django-cors-headers = "*"
pymysql = "*"
django-extensions = "*"
django_filters = "*"

[dev-packages]
jupyter = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
